* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: 'Aleo', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: rgb(72, 85, 109);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}



/* header section including nav bar */
header {
  display: flex;
  background-color: rgb(255, 102, 14);
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  text-align: start;
}


.nav {
  display: flex;
  width: 60%;
  justify-content: flex-end;
  font-size: 20px;
}

.full-nav {
  color: black;
  padding: 30px;
  text-decoration: none;
}

.nav a:hover {
  background-color: black;
  color: rgb(255, 102, 14);
}

.shrink-nav {
  display: none;
}

/* hero section */
.hero-banner {
  min-height: 250px;
  width: 100%;
  display: flex;
  justify-content: justify;
  background-image: url(../images/hero-bg1.jpg);
  background-size: cover;
  background-position: center;
}

.profile-image {
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 10;
  border: 4px solid black;
  border-radius: 50%;
}

.hero {
  display:flex;
  align-items: flex-start;
  justify-content: flex-start; 
}

.hero h2 {
  margin: 20px;
  background: rgba(255, 102, 14, 0.7);
  width: 550px;
  margin-left: -90px;
  text-align: end;
  padding: 5px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 30px;
  z-index: auto;
}

/* about me section */
.about {
  display: grid;
  margin: 10px 50px 10px auto;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "header text";
}

.about h2 {
  color:rgb(255, 102, 14);
  grid-area: header;
  font-size: 40px;
  text-align: right;
  padding-right: 10px;
  border-right: 4px solid black;
}

.about p {
  grid-area: text;
  padding: 10px;
}



/* main my work section */
.page-section {
  display: grid;
  margin: 10px 50px 10px auto;
  grid-template-columns: 25% 75%;
  grid-template-rows: 2fr;
  grid-template-areas: 
  "header projects";
}

.sectionHeader h2 {
  color:rgb(255, 102, 14);
  grid-area: "header";
  font-size: 40px;
  text-align: right;
  padding-right: 10px; 
  border-right: 4px solid black;
}


/* portfolio cards */
.proj1 {
  background-image: url(../images/portfolio1pwsg.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
}
.proj2 {
  background-image: url(../images/portfolio2.jpg);
  background-position: center;
}
.proj3 {
  background-image: url(../images/portfolio3.jpg);
  background-position: center;
}
.proj4 {
  background-image: url(../images/portfolio4.jpg);
  background-position: center;
}
.proj5 {
  background-image: url(../images/portfolio5.jpg);
  background-position: center;
}

.flexContainer {
  grid-area: projects;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  min-height: 150px;
}

.flex-item:first-child {
  min-height: 300px;
  flex-basis: 100%;
}

/* labels for portfolio cards */ 
.flex-item div {
  background: rgba(255, 102, 14, 0.7);
  padding: 10px;
}

h3 {
  color: black;

}
.gridItem p {
  color:black;

} 

.flex-item div:hover {
  margin-left: 10px;
}

.flexContainer a {
  text-decoration: none;
}


/*contact section */
.contact {
  display: grid;
  margin: 10px 50px 10px auto;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  grid-template-areas: 
  "header links";
}

.contact h2 {
  color:rgb(255, 102, 14);
  grid-area: "header";
  font-size: 40px;
  text-align: right;
  padding-right: 10px; 
  border-right: 4px solid black
}


.contactLinks {
  grid-area: links;
  display: flex;
  align-items: flex-start;
}

.contactLinks a {
  padding-left: 30px;
  text-decoration: line-through;
  color: black;
  font-size: 30px;
  align-items: flex-start;
  justify-content: flex-start;
}

#github {
  text-decoration: none;
}

/* footer */
footer {
  margin: 30px auto 20px auto;
  text-align: center;
  padding: 10px;
}




/* media queries */
@media screen and (max-width: 768px){
  h1 {
  display: inline;
  min-width:fit-content;
  margin-left: 15px;
}
  .about h2 {
    margin-left: 10px;
    font-size: 25px;
    text-align: left;
    border-right: none;
    border-bottom: 2px solid black;
    border-collapse: collapse;
  }
  .sectionHeader h2 {
    margin-left: 10px;
    font-size: 25px;
    text-align: left;
    border-right: none;
    border-bottom: 2px solid black;
    border-collapse: collapse;
  }
  .contact h2 {
    margin-left: 10px;
    font-size: 25px;
    text-align: left;
    border-right: none;
    border-bottom: 2px solid black;
    border-collapse: collapse;
  }
  .hero h2 {
    font-size: 24px;
    width: 250px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
  }
  .profile-image {
    width: 175px;
  }
  .about p{
    font-size: 16px;
  }
  .about, .page-section, .contact {
    display: block;
    grid-template-columns: 100%;
  }
  .page-section {
    display: block;
  }
  
  .full-nav {
    display: none;
  }
  .nav {
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 15px;
}
  .shrink-nav {
    display: block;
    color: black;
    padding-right: 10px;
    padding-left: 20px;
    text-decoration: none;
  }
  .nav a:hover {
    background-color: black;
    color: rgb(255, 102, 14);
}
  
  .flex-item {
    flex-basis: 100%;
  }
  .flex-item:first-child {
    min-height: 150px;
    max-height: 150px;
  }
  .hero-banner {
    min-height: 175px;
    flex-direction: column;
  }
  .contactLinks a{
    font-size: 20px;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 500px) {
.profile-image {
  width: 150px;
}
.hero h2 {
  font-size: 24px;
}
}