* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.page-wrapper {
  background-color: rgb(135, 206, 216);
}

header {
  display: flex;
  background-color: darkgray;
  align-items: center;
  justify-content: space-evenly;
}

header h1 {
  padding: 15px;
}


header .nav a {
  padding: 30px;
}

.hero-banner {
  min-height: 400px;
  padding-top:00px;
  width: 100%;
  display:flex;
  background-image: url(../images/hero-bg1.jpg);
  background-size: cover;
  background-position: center;
}

.sectionHeader {
  display:flex;
  padding-right: 10px; 
}

.proj1 {
  background-image: url(../images/portfolio1pwsg.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
}
.proj2 {
  background-image: url(../images/portfolio2.jpg);
  background-position: center;
}
.proj3 {
  background-image: url(../images/portfolio3.jpg);
  background-position: center;
}
.proj4 {
  background-image: url(../images/portfolio4.jpg);
  background-position: center;
}
.proj5 {
  background-image: url(../images/portfolio5.jpg);
  background-position: center;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  min-height: 150px;
}

.flex-item:first-child {
  min-height: 300px;
  flex-basis: 100%;
}

.flex-item div {
  background: rgba(144, 238, 144, 0.7);
  padding: 10px;
}

@media screen and (max-width: 768px){
  .flex-item {
    flex-basis: 100%;
  }
  .flex-item:first-child {
    min-height: 150px;
  }
  .hero-banner {
    min-height: 150px;
  }
}