* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(72, 85, 109);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* .page-wrapper {
  background-color: rgb(135, 206, 216);
} */

/* header section including nav bar */
header {
  display: flex;
  background-color: rgb(255, 102, 14);
  align-items: center;
  justify-content: space-evenly;
}

header h1 {
  padding: 15px;
  text-align: justify;
}

header .nav a {
  padding: 30px;
  text-decoration: none;
}

/* hero section */
.hero-banner {
  min-height: 250px;
  padding-top:00px;
  width: 100%;
  display: flex;
  background-image: url(../images/hero-bg1.jpg);
  background-size: cover;
  background-position: center;
}

.hero {
  display: flex;
}

.hero h2 {
  align-items: flex-end;
  justify-content: flex-end;
}

/* about me section */
.about {
  display: grid;
  margin: 10px;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "header text";
}

.about h2 {
  color:rgb(255, 102, 14);
  grid-area: header;
  font-size: 40px;
  text-align: right;
  padding-right: 10px;
  border-right: 4px solid black;
}

.about p {
  grid-area: text;
  padding: 10px;
}

/* main my work section */
.page-section {
  display: grid;
  margin: 10px;
  grid-template-columns: 25% 75%;
  grid-template-rows: 2fr;
  grid-template-areas: 
  "header projects";
}

.sectionHeader h2 {
  color:rgb(255, 102, 14);
  grid-area: "header";
  font-size: 40px;
  text-align: right;
  padding-right: 10px; 
  border-right: 4px solid black;
}


/* portfolio cards */
.proj1 {
  background-image: url(../images/portfolio1pwsg.jpg);
  height: 300px;
  width: 100%;
  background-position: center;
}
.proj2 {
  background-image: url(../images/portfolio2.jpg);
  background-position: center;
}
.proj3 {
  background-image: url(../images/portfolio3.jpg);
  background-position: center;
}
.proj4 {
  background-image: url(../images/portfolio4.jpg);
  background-position: center;
}
.proj5 {
  background-image: url(../images/portfolio5.jpg);
  background-position: center;
}

.flexContainer {
  grid-area: projects;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  align-items: flex-end;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  min-height: 150px;
}

.flex-item:first-child {
  min-height: 300px;
  flex-basis: 100%;
}

.flex-item div {
  background: rgba(255, 102, 14, 0.7);
  padding: 10px;
}

h3 {
  color: black;
}
.gridItem p {
  color:black;
} 


/*contact section */
.contact {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: auto;
  grid-template-areas: 
  "header links";

}

.contact h2 {
  color:rgb(255, 102, 14);
  grid-area: "header";
  font-size: 40px;
  text-align: right;
  padding-right: 10px; 
  border-right: 4px solid black
}


.contactLinks {
  grid-area: links;
  display: flex;
  /* justify-content: flex-start; */
  align-items: flex-start;
}

.contactLinks a {
  padding-left: 30px;
  text-decoration: none;
  color: black;
  font-size: 30px;
  align-items: flex-start;
  justify-content: flex-start;
}

/* footer */
footer {
  margin: 30px auto 20px auto;
  text-align: center;
}








/* media queries */
@media screen and (max-width: 768px){
  .about, .page-section, .contact {
    display: grid;
    grid-template-columns: 100%;
  }
  }
  header .nav a {
    display: none;
  }
  .flex-item {
    flex-basis: 100%;
  }
  .flex-item:first-child {
    min-height: 150px;
  }
  .hero-banner {
    min-height: 150px;
  }
